<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
	  throwExceptions="true">
    
    <extensions>
        <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>
    
    <targets>
        <target name="file" xsi:type="File" fileName="file.txt" />
        <target name="console" xsi:type="Console" />
        <target name="debug" xsi:type="OutputDebugString"/>
		<target name="tizen" xsi:type="TizenLogger"/>
        <target name="azure" xsi:type="ApplicationInsightsTarget">
            <instrumentationKey>09b1857e-d4e9-4eb5-990a-3e902a2e9de9</instrumentationKey>
            <contextproperty name="threadid" layout="${threadid}" />
        </target>
		<target name="viewer" xsi:type="NLogViewer" address="tcp://192.168.0.245:4505" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console" />
        <!--<logger name="*" minlevel="Debug" writeTo="debug" />-->
        <logger name="*" minlevel="Debug" writeTo="file" />
        <logger name="*" minlevel="Warn" writeTo="azure" />
		<logger name="*" minlevel="Info" writeTo="tizen" />
		<logger name="*" minlevel="Debug" writeTo="viewer" />
    </rules>
    
</nlog>
